
body {
  background-color: rgb(241, 233, 233);
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5em;
    
  }

.musicPlayer {
    margin-top: 2em;
  }

.topCard {
  margin-top: 2em;
}

.bottomCard {
  margin-top: 1em;
}